input.is-inverted.is-outlined {
    background-color: transparent;
    color: white;
}

input.is-inverted.is-outlined:active, input.is-inverted.is-outlined:focus {
    border-color: white;
}

input.is-inverted.is-outlined::placeholder {
    color: white;
}

.navbar-burger {
    background-color: transparent;
    border-color: transparent;
    color: white !important;
}

.navbar-dropdown {
    background-color: transparent !important;;
}